.background {
  min-width: 390px;
  min-height: 1688px;
  background-image: url('../assets/img/sky-new.png');
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttons-div-wrapper {
  display: flex;
  position: fixed;

  bottom: 0;
  height: fit-content;
  width: 390px;
}
.buttons-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.bio-photo {
  max-width: 360px;
  margin: 15px;
}
.bio-text {
  text-indent: 25px;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  max-width: 380px;
  padding-left: 10px;
  background-color: rgba(199, 181, 206, 0.3);
}
.muses-photo {
  max-width: 360px;
  margin-bottom: 89px;
}
h2 {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
