.background-image {
}
html {
  margin: 0;
  padding: 0px;
}
.background {
  min-width: 320px;
  min-height: 844px;
  background-image: url('../assets/img/index-backgorund-img.png');
}

.div-buttons {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Mono', monospace;
}
